.plans {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 2rem;
  position: relative;
}
.plans-header {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.plans-card {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  background: var(--caloryCard);
  padding: 1rem 1.5rem;
  justify-content: space-between;
}
.card:nth-child(2) {
  background: var(--planCard);
  transform: scale(1.1);
}
.card > span:nth-of-type(1) {
  font-weight: bold;
}
.card > img {
  width: 3rem;
}
.card > :nth-child(1) {
  fill: var(--orange);
  width: 2rem;
  height: 3rem;
}
.card:nth-child(2) > :nth-child(1) {
  fill: white;
}
.card > :nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
}
.features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.features > img {
  width: 1.5rem;
}
.card-lower-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-lower-section > .btn {
  color: black;
}
.card:nth-child(2) > :nth-last-child(1) > button {
  color: var(--orange);
}
.blur-plans-1 {
  width: 32rem;
  height: 23rem;
  top: 7rem;
}
.blur-plans-2 {
  width: 32rem;
  height: 23rem;
  right: 0;
  top: 7rem;
}
@media screen and (max-width: 768px) {
  .plans-header {
    flex-direction: column;
    font-size: x-large;
    align-items: center;
    gap: 1rem;
  }
  .plans-card {
    flex-direction: column;
  }
  .card:nth-child(2) {
    transform: none;
  }
}
@media screen and (max-width: 1024px){
  .plans-header{
    font-size: 2.5rem;
    gap: 1rem;
    padding: 2rem;
  }
}
